USE [master]
GO
/****** Object:  Database [POS_db]    Script Date: 12/11/2024 7:48:37 pm ******/
CREATE DATABASE [POS_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POS_db', FILENAME = N'C:\Users\Ganotice\OneDrive\Desktop\BSCSAPPDEV\2ndyr\1st_sem\oop\projectmaking\MSSQL16.SQLEXPRESS01\MSSQL\DATA\POS_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POS_db_log', FILENAME = N'C:\Users\Ganotice\OneDrive\Desktop\BSCSAPPDEV\2ndyr\1st_sem\oop\projectmaking\MSSQL16.SQLEXPRESS01\MSSQL\DATA\POS_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POS_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POS_db]
GO
/****** Object:  Table [dbo].[products]    Script Date: 12/11/2024 7:48:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](255) NOT NULL,
	[category] [varchar](100) NULL,
	[brand] [varchar](100) NULL,
	[model_number] [varchar](50) NULL,
	[sku] [varchar](50) NULL,
	[description] [text] NULL,
	[stock_quantity] [int] NULL,
	[unit_cost] [decimal](10, 2) NULL,
	[selling_price] [decimal](10, 2) NULL,
	[min_stock_level] [int] NULL,
	[is_archived] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale_Items]    Script Date: 12/11/2024 7:48:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale_Items](
	[sale_item_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[item_total_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sale_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 12/11/2024 7:48:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[sale_id] [int] IDENTITY(1,1) NOT NULL,
	[date_time] [datetime] NULL,
	[cashier_id] [int] NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[payment_method] [varchar](4) NULL,
	[customer_payment] [decimal](10, 2) NOT NULL,
	[change_given] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/11/2024 7:48:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](7) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [min_stock_level]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_archived]
GO
ALTER TABLE [dbo].[Sale_Items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[sales] ADD  DEFAULT (getdate()) FOR [date_time]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Sale_Items]  WITH CHECK ADD  CONSTRAINT [FK_SaleItems_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[Sale_Items] CHECK CONSTRAINT [FK_SaleItems_Products]
GO
ALTER TABLE [dbo].[Sale_Items]  WITH CHECK ADD  CONSTRAINT [FK_SaleItems_Sales] FOREIGN KEY([sale_id])
REFERENCES [dbo].[sales] ([sale_id])
GO
ALTER TABLE [dbo].[Sale_Items] CHECK CONSTRAINT [FK_SaleItems_Sales]
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD FOREIGN KEY([cashier_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD CHECK  (([payment_method]='CARD' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='CASHIER' OR [role]='ADMIN'))
GO
USE [master]
GO
