USE [master]
GO
/****** Object:  Database [Pos_db]    Script Date: 12/7/2024 9:50:14 PM ******/
CREATE DATABASE [Pos_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pos_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Pos_db.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pos_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Pos_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pos_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pos_db]
GO
/****** Object:  Table [dbo].[products]    Script Date: 12/7/2024 9:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](255) NOT NULL,
	[category] [varchar](100) NULL,
	[brand] [varchar](100) NULL,
	[model_number] [varchar](50) NULL,
	[sku] [varchar](50) NULL,
	[description] [text] NULL,
	[stock_quantity] [int] NULL,
	[unit_cost] [decimal](10, 2) NULL,
	[selling_price] [decimal](10, 2) NULL,
	[min_stock_level] [int] NULL,
	[is_archived] [bit] NULL,
	[image_path] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetails]    Script Date: 12/7/2024 9:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 12/7/2024 9:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[ShippingFee] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale_Items]    Script Date: 12/7/2024 9:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale_Items](
	[sale_item_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[item_total_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sale_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 12/7/2024 9:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[sale_id] [int] IDENTITY(1,1) NOT NULL,
	[date_time] [datetime] NULL,
	[cashier_id] [int] NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[payment_method] [varchar](50) NULL,
	[customer_payment] [decimal](10, 2) NOT NULL,
	[change_given] [decimal](10, 2) NOT NULL,
	[is_void] [bit] NOT NULL,
	[VoidReason] [nvarchar](max) NULL,
 CONSTRAINT [PK__sales__E1EB00B26CAEE9E1] PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 12/7/2024 9:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[ContactName] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/7/2024 9:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [varchar](255) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](7) NULL,
	[created_at] [datetime] NULL,
	[salt] [nvarchar](256) NULL,
	[is_logged_in] [bit] NOT NULL,
	[last_login_time] [datetime] NULL,
	[last_logout_time] [datetime] NULL,
	[status] [nvarchar](50) NOT NULL,
	[user_image] [varchar](255) NOT NULL,
 CONSTRAINT [PK__users__B9BE370FDF7740E9] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__users__F3DBC572B66CD937] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF_products_sku]  DEFAULT ('N/A') FOR [sku]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [min_stock_level]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_archived]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF_Products_ImagePath]  DEFAULT ('no image') FOR [image_path]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0.00)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0.00)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[Sale_Items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[sales] ADD  CONSTRAINT [DF__sales__date_time__4222D4EF]  DEFAULT (getdate()) FOR [date_time]
GO
ALTER TABLE [dbo].[sales] ADD  CONSTRAINT [DF_is_void]  DEFAULT ((0)) FOR [is_void]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__created_a__4316F928]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__is_logged__01142BA1]  DEFAULT ((0)) FOR [is_logged_in]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [df_status]  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('no image') FOR [user_image]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[PurchaseOrders] ([OrderID])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Sale_Items]  WITH CHECK ADD  CONSTRAINT [FK_SaleItems_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[Sale_Items] CHECK CONSTRAINT [FK_SaleItems_Products]
GO
ALTER TABLE [dbo].[Sale_Items]  WITH CHECK ADD  CONSTRAINT [FK_SaleItems_Sales] FOREIGN KEY([sale_id])
REFERENCES [dbo].[sales] ([sale_id])
GO
ALTER TABLE [dbo].[Sale_Items] CHECK CONSTRAINT [FK_SaleItems_Sales]
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD  CONSTRAINT [FK__sales__cashier_i__45F365D3] FOREIGN KEY([cashier_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[sales] CHECK CONSTRAINT [FK__sales__cashier_i__45F365D3]
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD  CONSTRAINT [FK__sales__cashier_i__4CA06362] FOREIGN KEY([cashier_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[sales] CHECK CONSTRAINT [FK__sales__cashier_i__4CA06362]
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD  CONSTRAINT [CK__sales__payment_m__46E78A0C] CHECK  (([payment_method]='CARD' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[sales] CHECK CONSTRAINT [CK__sales__payment_m__46E78A0C]
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD  CONSTRAINT [CK__sales__payment_m__4D94879B] CHECK  (([payment_method]='CARD' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[sales] CHECK CONSTRAINT [CK__sales__payment_m__4D94879B]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK__users__role__47DBAE45] CHECK  (([role]='CASHIER' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK__users__role__47DBAE45]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK__users__role__4E88ABD4] CHECK  (([role]='CASHIER' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK__users__role__4E88ABD4]
GO
USE [master]
GO
